.rating-stars i {
    color: #f5c518;   /* premium yellow */
    font-size: 1.1rem;
}

.rating-stars .bi-star {
    color: #e0e0e0;   /* light grey for empty star */
}

/* price range css */

.dual-range {
    position: relative;
    height: 36px;
}

/* Base slider */
.dual-range input[type="range"] {
    position: absolute;
    width: 100%;
    height: 6px;
    top: 15px;
    background: transparent;
    pointer-events: none;
    -webkit-appearance: none;
}

/* Track */
.dual-range input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: #dee2e6;
    border-radius: 5px;
}

.dual-range input[type="range"]::-moz-range-track {
    height: 6px;
    background: #dee2e6;
    border-radius: 5px;
}

/* Thumb */
.dual-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #0d6efd;
    border-radius: 50%;
    pointer-events: auto;
    margin-top: -6px;
    position: relative;
    z-index: 3;
}

.dual-range input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: #0d6efd;
    border-radius: 50%;
    pointer-events: auto;
    border: none;
    position: relative;
    z-index: 3;
}

/* Active range */
.range-fill {
    position: absolute;
    height: 6px;
    background: #0d6efd;
    top: 15px;
    border-radius: 5px;
    z-index: 2;
}


/* price range css end */


/* card hover */
.product-card {
    transition: box-shadow 0.25s ease;
    position: relative; /* anchor for badges */
}
.product-card .badge {
    z-index: 2;
}

.product-card:hover {
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

/* Image container */
.img-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* Image zoom only */
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover .img-wrapper img {
    transform: scale(1.05);
}
